<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CommLink" providerName="System.Data.sqlclient" connectionString="Data Source=GIEDRIUS;Initial Catalog=LabLink;User ID=CommLink;Password=123" />
		<add name="SignalR" connectionString="https://*:5001" />
	</connectionStrings>
</configuration>